contrib/parameter_example/example/benchmark/house.dtd

<?xml version='1.0' encoding='US-ASCII' ?>

<!--Generated by Tahoe::XML_Attribute_FormatterT $Revision: 1.1 $-->

<!ELEMENT house (
	roof,
	driveway,
	garage,
	garage,
	lawn?,
	(crawl_space|storm_shelter)?,
	(closet|bedroom)+)>
<!ATTLIST house
   style (colonial|ranch|split_level) #REQUIRED
 zipcode CDATA #REQUIRED
 a-dtype NMTOKENS 'zipcode integer'>

<!ELEMENT roof EMPTY>
<!ATTLIST roof
 style (shingle|slate) #REQUIRED>

<!ELEMENT driveway EMPTY>
<!ATTLIST driveway
  length CDATA #REQUIRED
 surface (dirt|gravel|cobblestone|asphalt|concrete) 'asphalt'
 a-dtype NMTOKENS 'length float'>

<!ELEMENT garage (
	window?)>
<!ATTLIST garage
 opener (true|false) 'true'
 length CDATA '1.500000e+01'
  width CDATA '1.200000e+01'
a-dtype NMTOKENS 'length float width float'>

<!ELEMENT window EMPTY>
<!ATTLIST window
  width CDATA '2.500000e+00'
 height CDATA '4.000000e+00'
a-dtype NMTOKENS 'width float height float'>

<!ELEMENT lawn EMPTY>


<!ELEMENT crawl_space EMPTY>
<!ATTLIST crawl_space
    height CDATA #REQUIRED
    length CDATA #REQUIRED
     width CDATA #REQUIRED
 sump_pump (true|false) 'true'
   a-dtype NMTOKENS 'height float length float width float'>

<!ELEMENT storm_shelter EMPTY>
<!ATTLIST storm_shelter
          height CDATA #REQUIRED
          length CDATA #REQUIRED
           width CDATA #REQUIRED
 auxiliary_power (true|false) 'true'
   first_aid_kit (true|false) 'true'
    stored_water CDATA '0.000000e+00'
         a-dtype NMTOKENS 'height float length float width float stored_water float'>

<!ELEMENT closet EMPTY>
<!ATTLIST closet
    length CDATA #REQUIRED
     width CDATA #REQUIRED
 has_shelf (true|false) 'false'
   has_bar (true|false) 'true'
   a-dtype NMTOKENS 'length integer width integer'>

<!ELEMENT bedroom (
	window*)>
<!ATTLIST bedroom
 length CDATA #REQUIRED
  width CDATA #REQUIRED
  floor CDATA #REQUIRED
a-dtype NMTOKENS 'length integer width integer floor integer'>
